{% extends 'registration/base.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<form method="post" action="{% url 'users:login' %}" class="d-flex flex-column align-items-center"
      style="max-width: 420px">
    {% if form.errors %}
        <div class="alert alert-danger">
            Пожалуйста, исправьте следующие ошибки:
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <h1 class="modal-title text-center fw-bold mb-3">Вход</h1>
    {% csrf_token %}
    {{ form.username }}
    {{ form.password }}

    <a href="{% url 'users:password_reset' %}" class="SelfStorage_orange" data-bs-toggle="modal" data-bs-target="#ForgetModal"
       data-bs-dismiss="modal" aria-label="Close">Забыли пароль?</a>

    <button class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange"
            type="submit">Войти
    </button>


    <span>Нет аккаунта?  <a href="{% url 'users:registration' %}" class="SelfStorage_orange"
                            aria-label="Close">Зарегистрируйтесь на сайте</a></span>
</form>
{% endblock %}