{% extends 'base.html' %}
{% load static %}
{% load square_filter %}

{% block title %}Boxes{% endblock %}

{% block header %}
    <li class="nav-item me-5">
        <a class="nav-link SelfStorage_black" href="#">Рассчитать стоимость</a>
    </li>
    <li class="nav-item me-5">
        <a class="nav-link SelfStorage_black" href="{% url 'faq' %}">Правила хранения</a>
    </li>
    <li class="nav-item me-5">
        <a class="nav-link SelfStorage_black" href="{% url 'boxes' %}">Арендовать бокс</a>
    </li>
    <li class="nav-item me-5">
        {% if user.is_authenticated %}
            <li class="nav-item d-flex align-items-center me-5">
                <a href="#" class="me-2 mb-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#F28A4F" class="bi bi-bell"
                         viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"></path>
                    </svg>
                </a>
                <a href="{% url 'my_rent' %}" class="text-decoration-none d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#579586"
                         class="bi bi-person border border-2 rounded-pill" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                    </svg>
                    <span class="SelfStorage_green">{{ user.email }}</span>
                </a>
            </li>
        {% else %}
            <a class="nav-link SelfStorage_green" href="{% url 'users:login' %}">Войти</a>
        {% endif %}
    </li>
    <li class="nav-item d-flex align-items-center">
        <div class="d-flex justify-content-center align-items-center rounded-pill SelfStorage__bg_green me-2" style="height: 36px; width: 36px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="white" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg>
        </div>
        <b>8 (800) 000-00-00</b>
    </li>
{% endblock %}

{% block content %}
    <main class="container mt-header">
        <article class="row">
            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                <h1 class="fw-bold SelfStorage_green mb-5">Доставка и бережное хранение ваших вещей</h1>
                <h4 class="fw-lighter SelfStorage_grey mb-5">Аренда бокса на любой срок Бесплатная доставка от вашего дома </h4>
                <form class="">
                    <input type="text" required name="EMAIL1" class="form-control  border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="Укажите ваш e-mail">
                    <button class="btn  border-8 py-3 px-5 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Рассчитать стоимость</button>
                    <span class="text-center fw-light">Нажимая на кнопку, вы подтверждаете свое <a href="#" class="link-dark">согласие на обработку персональных данных</a></span>
                </form>
            </div>
            <div class="col-12 col-lg-6 SelfStorage__img"></div>
        </article>
        <article class="mt-header">
            <h1 class="text-center fw-bold SelfStorage_green mb-5">Аренда боксов</h1>
            <h6 class="text-center SelfStorage_grey">Арендуйте склад индивидуального хранения по уникальной цене прямо сейчас</h6>
            <a href="#BOX" id="toBox" class="d-none"></a>
            <ul class="nav nav-pills mb-3 d-flex justify-content-between" id="boxes-links" role="tablist">
                {% for warehouse in warehouses %}
                <li class="nav-item flex-grow-1 mx-2" role="presentation">
                    <a href="#BOX" class="row text-decoration-none py-3 px-4 mt-5 SelfStorage__boxlink" id="warehouse-{{ warehouse.number }}-tab" data-bs-toggle="pill" data-bs-target="#warehouse-{{ warehouse.number }}" role="tab" aria-controls="warehouse-{{ warehouse.number }}" aria-selected="true">
                        <div class="col-12 col-lg-3 d-flex justify-content-center">
                            <img src="{{ warehouse.warehouse_img }}" alt="" class="mb-3 mb-lg-0">
                        </div>
                        <div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
                            <h4 class="text-center">{{ warehouse.city }}</h4>
                            <h6 class="text-center">{{ warehouse.address }}</h6>
                        </div>
                        <div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
                            <h4 class="text-center">{{ warehouse.boxes_free }}  из {{ warehouse.boxes_total }}</h4>
                            <h6 class="text-center">Боксов свободно</h6>
                        </div>
                        <div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
                            <h4 class="text-center SelfStorage_green">от {{ warehouse.price_from }} ₽</h4>
                            <h6 class="text-center">{{ warehouse.advantage }}</h6>
                        </div>
                    </a>
                </li>
                {% endfor %}

            </ul>
            <script>
                {% for warehouse in warehouses %}
                document.getElementById('warehouse-{{ warehouse.number }}-tab').addEventListener('click', () => {
                    document.getElementById('toBox').click()
                })
                {% endfor %}

            </script>
        </article>
        <article class="pt-header" id="BOX">
            <div class="tab-content" id="boxes-content">
                {% for warehouse in warehouses %}
                    <div class="tab-pane fade {% if forloop.first %} show active {% endif %}" id="warehouse-{{ warehouse.number }}" role="tabpanel" aria-labelledby="warehouse-{{ warehouse.number }}-tab">
                        <h1 class="text-center mb-4 fw-bold">{{ warehouse.full_address }}</h1>
                        <div class="row d-flex flex-column mb-5">
                            <div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-between align-self-center">
                                <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Контакты" data-bs-content="Список контактов">
                                    Контакты
                                </a>
                                <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Описание" data-bs-content="Текст описания">
                                    Описание
                                </a>
                                <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Проезд" data-bs-content="Описание проезда">
                                    Проезд
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        {% for image_url in warehouse.box_image_urls %}
                                        <div class="carousel-item{% if forloop.first %} active{% endif %}">


                                            <div class="d-flex flex-column align-items-center">
                                                <img src="{{ image_url }}" alt="">
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="w-100 d-flex justify-content-center my-3">
                                        <button data-bs-target="#carouselExampleControls1" data-bs-slide="prev" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                                            </svg>
                                        </button>
                                        <div style="width: 1rem"></div>
                                        <button data-bs-target="#carouselExampleControls1" data-bs-slide="next" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="row">
                                    <p class="text-center text-lg-start SelfStorage_grey">Доступ по QR</p>
                                    <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
                                        <span class="fs_30 fw-bold SelfStorage_orange">{{ warehouse.temperature }} °С</span>
                                        <span class="SelfStorage_grey mb-3">Температура на складе</span>
                                        <span class="fs_30 fw-bold SelfStorage_orange">{{ warehouse.boxes_free }}  из {{ warehouse.boxes_total }}</span>
                                        <span class="SelfStorage_grey mb-3">Боксов свободно</span>
                                    </div>
                                    <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
                                        <span class="fs_30 fw-bold SelfStorage_orange">до {{ warehouse.height }} м</span>
                                        <span class="SelfStorage_grey mb-3">Высота потолка</span>
                                        <span class="fs_30 fw-bold SelfStorage_orange">от {{ warehouse.price_from }} ₽</span>
                                        <span class="SelfStorage_grey mb-3">Оплата за месяц</span>
                                    </div>
                                    <div class="d-flex flex-column align-items-center align-items-lg-start">
                                        <a href="#pills-tab" role="button" class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Арендовать бокс</a>
                                        <button class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange">Позвонить мне</button>
                                    </div>
                                    <a href="#" class="text-center text-lg-start mt-4 SelfStorage_orange">Нужна помощь?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <form class="row mt-5 d-none">
                <div class="col-6 col-lg-3">
                    <input type="radio" name="BOXES_FILTER" id="ALL_BOXES" class="SelfStorage_radio d-none" checked>
                    <label for="ALL_BOXES" class="btn my-2 w-100 fs_24">Все боксы</label>
                </div>
                <div class="col-6 col-lg-3">
                    <input type="radio" name="BOXES_FILTER" id="to3m" class="SelfStorage_radio d-none">
                    <label for="to3m" class="btn my-2 w-100 fs_24">До 3 м²</label>
                </div>
                <div class="col-6 col-lg-3">
                    <input type="radio" name="BOXES_FILTER" id="to10m" class="SelfStorage_radio d-none">
                    <label for="to10m" class="btn my-2 w-100 fs_24">До 10 м²</label>
                </div>
                <div class="col-6 col-lg-3">
                    <input type="radio" name="BOXES_FILTER" id="From10m" class="SelfStorage_radio d-none">
                    <label for="From10m" class="btn my-2 w-100 fs_24">От 10 м²</label>
                </div>
            </form>
            <ul class="nav nav-pills pt-header d-flex justify-content-between" id="pills-tab" role="tablist">
                <li class="nav-item flex-grow-1 mx-2" role="presentation">
                    <button class="btn my-2 w-100 fs_24 SelfStorage__tab active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true">Все боксы</button>
                </li>
                <li class="nav-item flex-grow-1 mx-2" role="presentation">
                    <button class="btn my-2 w-100 fs_24 SelfStorage__tab" id="pills-to3-tab" data-bs-toggle="pill" data-bs-target="#pills-to3" type="button" role="tab" aria-controls="pills-to3" aria-selected="false">До 3 м²</button>
                </li>
                <li class="nav-item flex-grow-1 mx-2" role="presentation">
                    <button class="btn my-2 w-100 fs_24 SelfStorage__tab" id="pills-to10-tab" data-bs-toggle="pill" data-bs-target="#pills-to10" type="button" role="tab" aria-controls="pills-to10" aria-selected="false">До 10 м²</button>
                </li>
                <li class="nav-item flex-grow-1 mx-2" role="presentation">
                    <button class="btn my-2 w-100 fs_24 SelfStorage__tab" id="pills-from10-tab" data-bs-toggle="pill" data-bs-target="#pills-from10" type="button" role="tab" aria-controls="pills-from10" aria-selected="false">От 10 м²</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-home-tab">
                    {% for box in boxes|slice:':2' %}
                            {% include 'renta_warehouse/box_attributes.html' %}
                    {% endfor %}

                    <div class="collapse" id="collapse-all">
                        {% for box in boxes|slice:'2:' %}
                                {% include 'renta_warehouse/box_attributes.html' %}
                        {% endfor %}
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <button class="btn w-auto py-3 px-5 SelfStorage__bg_orange SelfStorage__btn2_orange text-white text-center fs_24 border-8" id="btn-collapse-all" data-bs-toggle="collapse" data-bs-target="#collapse-all" aria-expanded="false" aria-controls="collapse-all">Другие боксы</button>
                        <script>
                            document.getElementById('btn-collapse-all').addEventListener('click', () => document.getElementById('btn-collapse-all').classList.add('d-none'))
                        </script>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-to3" role="tabpanel" aria-labelledby="pills-profile-tab">
                    {% for box in boxes|square_less_3|slice:':2' %}
                            {% include 'renta_warehouse/box_attributes.html' %}
                    {% endfor %}

                    <div class="collapse" id="collapse-to3">
                        {% for box in boxes|square_less_3|slice:'2:' %}
                            {% include 'renta_warehouse/box_attributes.html' %}
                        {% endfor %}
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <button class="btn w-auto py-3 px-5 SelfStorage__bg_orange SelfStorage__btn2_orange text-white text-center fs_24 border-8" id="btn-collapse-to3" data-bs-toggle="collapse" data-bs-target="#collapse-to3" aria-expanded="false" aria-controls="collapse-to3">Другие боксы</button>
                        <script>
                            document.getElementById('btn-collapse-to3').addEventListener('click', () => document.getElementById('btn-collapse-to3').classList.add('d-none'))
                        </script>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-to10" role="tabpanel" aria-labelledby="pills-contact-tab">
                    {% for box in boxes|square_less_10|slice:':2' %}
                        {% include 'renta_warehouse/box_attributes.html' %}
                    {% endfor %}
                    <div class="collapse" id="collapse-to10">
                        {% for box in boxes|square_less_10|slice:'2:' %}
                            {% include 'renta_warehouse/box_attributes.html' %}
                        {% endfor %}
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <button class="btn w-auto py-3 px-5 SelfStorage__bg_orange SelfStorage__btn2_orange text-white text-center fs_24 border-8" id="btn-collapse-to10" data-bs-toggle="collapse" data-bs-target="#collapse-to10" aria-expanded="false" aria-controls="collapse-to10">Другие боксы</button>
                        <script>
                            document.getElementById('btn-collapse-to10').addEventListener('click', () => document.getElementById('btn-collapse-to10').classList.add('d-none'))
                        </script>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-from10" role="tabpanel" aria-labelledby="pills-contact-tab">
                    {% for box in boxes|square_more_10|slice:':2' %}
                        {% include 'renta_warehouse/box_attributes.html' %}
                    {% endfor %}

                    <div class="collapse" id="collapse-from10">
                        {% for box in boxes|square_more_10|slice:'2:' %}
                            {% include 'renta_warehouse/box_attributes.html' %}
                        {% endfor %}
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <button class="btn w-auto py-3 px-5 SelfStorage__bg_orange SelfStorage__btn2_orange text-white text-center fs_24 border-8" id="btn-collapse-from10" data-bs-toggle="collapse" data-bs-target="#collapse-from10" aria-expanded="false" aria-controls="collapse-from10">Другие боксы</button>
                        <script>
                            document.getElementById('btn-collapse-from10').addEventListener('click', () => document.getElementById('btn-collapse-from10').classList.add('d-none'))
                        </script>
                    </div>
                </div>
            </div>
        </article>
    </main>
{% endblock %}

{% block script %}
    <script>
	var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
	var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
		return new bootstrap.Popover(popoverTriggerEl)
	})
    </script>
{% endblock %}